/* Set the default color pallette */
:root {
  --darkest: #000;
  --darker: #333;
  --dark: #666;
  --light: #999;
  --lighter: #ccc;
  --lightest: #fff;
}
/*0123456789abcdef*/

body {
  /*
  background-image: url("https://images.unsplash.com/photo-1558591710-4b4a1ae0f04d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1587&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  */
  background-color: var(--lightest);
  color: var(--darkest);
  font-weight bold;
}

h1 {
  color: var(--darkest);
  font-weight: 700;
  text-align: center;
  border: 1px solid var(--lightest);
  border-radius: 5px;
  background-color: var(--lightest);
  padding: 5px;
  opacity: 0.8;
}

h2 {
  color: var(--lightest);
  font-weight: bold;
  text-align: center;
  border: 1px solid var(--dark);
  border-radius: 5px;
  background-color: var(--dark);
  padding: 5px;
  opacity: 0.8;
}

pre::before {
  content: "R Input: ";
  font-weight: bold;
  color: var(--dark);
  display: block;
}

pre{
  background-color: var(--lightest);
  opacity: 0.8;
}

pre:not([class])::before {
  content: "R Output: ";
  font-weight: bold;
  color: var(--darker);
  display: block;
}

pre:not([class]) {
  background-color: var(--lightest);
  opacity: 0.8;
}

img {
  border: 5px solid var(--lighter)
  border-radius: 5px;
  width: 100%;
  opacity: 1;
  padding: 5px;
}

p {
  margin: 5px;
  background-color: var(--lightest);
  padding: 5px;
  opacity: 0.8;
  border: 1px solid var(--lightest);
  border-radius: 5px;
}
